<footer class="footer-main container-fluid no-padding">
    <!-- Container -->
    <div class="container">
        <!-- Contact Detail -->
        <div class="contact-details">
            <div class="col-md-4 col-sm-4 address-box detail-box">
                <i><img src="images/ftr-location.png" alt="Loactaion" /></i>
                <h4>hospital address</h4>
                <p>Laxmi Palace, S.V Road</p>
                <p>Opposite Sunder Nagar</p>
                <p>Malad West, Mumbai</p>
                <p>Maharashtra, 400064</p>
            </div>
            <div class="col-md-4 col-sm-4 phone-box detail-box">
                <i><img src="images/ftr-phone.png" alt="Phone" /></i>
                <h4>EMERGENCY ( 24X7 )</h4>
                <p>Mobile: (+91) 222 871 3871</p>
                <!-- <p>Toll Free : (+1) 800 123 456</p> -->
            </div>
            <div class="col-md-4 col-sm-4 mail-box detail-box">
                <i><img src="images/ftr-email.png" alt="Email" /></i>
                <h4>hospital address</h4>
                <p><a href="mailto:info@lenest.com">info@lenest.com</a></p>
                <p><a href="mailto:support@lenest.com">support@lenest.com</a></p>
            </div>
        </diV>
        <!-- Contact Detail /- -->
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <aside class="widget widget-about">
                    <!-- <h3><img src="images/logo-ftr.png" alt="Logo" /></h3> -->
                    <!-- <p>Aqui blanditiis praesentium voluptatum delenitia atque corrupti quos dolores.</p> -->
                    <div class="time-schedule">
                        <p>Monday - Friday <span>8.00 - 18.00</span></p>
                        <p>Saturday <span>8.00 - 18.00</span></p>
                        <p>Sunday <span>8.00 - 13.00</span></p>
                    </div>
                </aside>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <aside class="widget widget-links">
                    <h3 class="widget-title">Our Services</h3>
                    <ul>
                        <li><a href="#" title="Births">Births</a></li>
                        <!-- <li><a href="#" title="Dental">Dental</a></li> -->
                        <!-- <li><a href="#" title="Pulmonary">Pulmonary</a></li> -->
                        <!-- <li><a href="#" title="Nuclear magnetic">Nuclear magnetic</a></li> -->
                        <!-- <li><a href="#" title="Cardiology">Cardiology</a></li> -->
                        <li><a href="#" title="Pregnancy">Pregnancy</a></li>
                        <!-- <li><a href="#" title="Neurology">Neurology</a></li> -->
                        <!-- <li><a href="#" title="For disabled">For disabled</a></li> -->
                        <!-- <li><a href="#" title="Traumatology">Traumatology</a></li> -->
                        <!-- <li><a href="#" title="X-ray">X-ray</a></li> -->
                        <!-- <li><a href="#" title="Neurology">Neurology</a></li> -->
                        <!-- <li><a href="#" title="Prostheses">Prosthese</a></li> -->
                    </ul>
                </aside>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <aside class="widget widget-newsletter">
                    <h3 class="widget-title">Suscribe</h3>
                    <!-- <p>Accusamus et iusto odio dignissimos ducimus qui bslanditiis praesentium quas molestias except.</p> -->
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Email Address">
                        <span class="input-group-btn">
									<button class="btn btn-default" type="button"><i class="fa fa-send-o"></i></button>
								</span>
                    </div>
                    <!-- /input-group -->
                    <div class="social">
                        <h6>Stay Connected</h6>
                        <ul>
                            <li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" title="Google+"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#" title="Tumblr"><i class="fa fa-tumblr"></i></a></li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </div>
    <!-- Container /- -->
    <!-- Bottom Footer -->
    <!-- <div class="container-fluid no-padding bottom-footer">
        <p>&copy; 2017 Suvigya Vijay &amp; Kshitij Grovor. All Rights Reserved.</p>
    </div> -->
    <!-- Bottom Footer /- -->
</footer>
