<div class="row" style="min-height: 400px; margin: 20px 0;" ng-controller="laparoController">
    <h2 class="text-center">Laparoscopy Generator</h2>
    <div id="printableArea">
        <br>
        <div class="container">
            <form class="form-inline col-md-12 text-center">
                <div class="row">
                    <div class="form-group">
                        <label for="name">Name &nbsp;</label>
                        <input type="text" name="name" id="pName" class="form-control" required>
                    </div>
                </div>
            </form>
                <br><br>
  <div id="holdera" class="holder">
  </div> 
  <p id="upload" class="hidden"><label>Drag & drop not supported, but you can still upload via this input field:<br><input type="file"></label></p>
  <p id="filereader">File API & FileReader API not supported</p>
  <p id="formdata">XHR2's FormData is not supported</p>
  
  <p>Drag an image from your desktop on to the drop zone above to see the browser both render the preview, but also upload automatically to this server.</p>
        </div>
        <br>
        
    </div>
</div>
