<div class="row" style="min-height: 400px; margin: 20px 0;" ng-controller="laparoController">
    <h2 class="text-center">Laparoscopy Generator</h2>
    <div id="printableArea">
        <br>
        <div class="row">
            <form class="form-inline col-md-12 text-center">
                <div class="row">
                    <div class="form-group">
                        <label for="name">Name &nbsp;</label>
                        <input type="text" name="name" id="pName" class="form-control" required>
                    </div>
                </div>
            </form>
                <!-- <br> -->
                <div class="row">
                    <div class="col-md-4">
                        <form action="" class="dropzone" id="imgDropzone1"></form>
                    </div>
                    <div class="col-md-4">
                        <form action="" class="dropzone" id="imgDropzone2"></form>
                    </div>
                    <div class="col-md-4">
                        <form action="" class="dropzone" id="imgDropzone3"></form>
                    </div>
                    <div class="col-md-4">
                        <form action="" class="dropzone" id="imgDropzone4"></form>
                    </div>
                    <div class="col-md-4">
                        <form action="" class="dropzone" id="imgDropzone5"></form>
                    </div>
                    <div class="col-md-4">
                        <form action="" class="dropzone" id="imgDropzone6"></form>
                    </div>
                </div>
        </div>
        <br>
        
    </div>
</div>
