
<div class="row">
<div class="col-md-4">
</div>
<div class="col-md-6">
<h2>Prescription</h2>
<form class="form-inline">
  <div class="form-group">
    <!-- <label for="name">Patient Name:</label> -->
    <input type="text" class="form-control" placeholder="Patient name" id="name">
  </div>
  <br><br>
  <div class="form-group">
<!--     <label for="date">Date </label>
 -->    <input type="date" class="form-control" Placeholder="Date mm/dd/yyyy" id="dt">
  </div>
  <br>
  <br>
  <select class="form-control">
  <option selected disabled>Choose a fixed Prescription</option>
  <option>1st Trimester</option>
  <option>2nd/3rd Trimester</option>
  <option>PCOD</option>
  <option>5</option>
</select>
  
<br>


<br>
<div class="addmed">
<select class="form-control">
  <option selected disabled>Type</option>
  <option>Tab</option>
  <option>Capsule</option>
  <option>Syrup</option>
</select>
<select class="form-control">
  <option selected disabled>Generic Name</option>
  <option>A</option>
  <option>B</option>
  <option>C</option>
</select>
<select class="form-control">
  <option selected disabled>Brand Name</option>
  <option>A</option>
  <option>B</option>
  <option>C</option>
</select>
<select class="form-control">
  <option selected disabled>Dosage</option>
  <option>A</option>
  <option>B</option>
  <option>C</option>
</select>

<select class="form-control">
  <option selected disabled>Daily Freq</option>
  <option>1-0-0</option>
  <option>0-0-1</option>
  <option>1-0-1</option>
  <option>1-1-1</option>
  <option>0-1-0</option>
</select>
      <input type="text" placeholder="Length for" class="form-control">
<br>
</div>
<br>
<button class="btn" style="margin-right: 30px;">
<span class="glyphicon glyphicon-plus" aria-hidden="true"></span><label>Add a medicine</label></button><input type="submit" class="btn btn-primary" name="sub">

</form>
</div>
</div>
<br>